/* Global Styles */

body {
  margin: 5mm 5mm 5mm 5mm;
  background-color: #fff;
  font-family: sans-serif;

  

}

@page { 
    size: 297mm 210mm; 
}

h4 {
    font-weight: inherit;
    text-align: center;

}

h5 {
    font-weight: inherit;
    text-align: left;
}

h3 {
    font-weight: inherit;
    text-align: center;
}

/* Styles Encabezado */
.encabezado h4{
    margin: 2mm 2mm 2mm 2mm;
    text-align: center;
}

.der h5 {
    text-align: left;
}

.header h5{
    display: inline;
    text-align: right;
}



#logo{
    height:50px;
    width:40px;
    float:right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 
}
#logo img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 75px; height: 75px;
    margin-right:auto;
    margin-bottom:auto;
}

/* Styles Tabla Nomina */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid black;
}

table {
    border:0px solid black;
}

table {
    width: 100%;
}

th {
    height: 5px;
}
td {
    height: 10px;
    vertical-align: bottom;
}

th {
    text-align: left;
}

th, td {
    padding: 10px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;

}

tr:hover {background-color: #2194C6}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #2194C6;
    color: white;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 60px; height: 70px;
}
img.grande{
    width: 110px; height: 110px;
     border: 0;
}
.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 12px;
}

.tamletra {
    font-size: 11px;
}